
/*canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 70%;
}*/
img{
  position: relative;
  bottom: 400px;
  left: 300px;
  display: none;
}
.text{
  display: block;
  font-size: 30px;
  font-weight: bold;
}

canvas { cursor: pointer; }


.start-btn{
    text-align: center;
	  display: inline-block;
	  margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2p';
    width: 400px;
    height: 100px;
    font-size: 80px;
     margin: -80px -200px;
    position:relative;
    top:50%;
    left:50%;

}
